.me {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-start;
  height: 100%;
  width: 100%;
}

.pic{
  width: auto;
  height: 50%;
}

.name{
  text-align: center;
  margin: 6%;
  opacity: 18;
  font-size: 35px;
  font-weight: 400;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.l {
  margin: 5%;
  font-weight: 300;
  font-size: 3vh;
  text-decoration: none;
  color: #16a085;
  transition: all .3s ease-in-out;
}

.l:hover {
  color: darkgreen;
}

@media screen and (max-width: 1080px) {
  .l {
    font-size: 2.5vh;
  }
  .pic {
    height: 40%;
  }
}


@media screen and (max-width: 680px) {
  .pic {
    width: 300px;
    height: auto;
  }
}
