body {
  background: linear-gradient(white, #d1d1d1);
  /* background-color: #212121; */
  /* font-family: 'HelveticaNeue', sans-serif; */
  font-family: 'Roboto', sans-serif;
  y transform: translateZ(0);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.main {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .showspacer {
  width: 400px;
}

.hidespacer {
  width: 0px;
} */

.pic {
  transition: .25s all .5s;
  border: 2px solid lightgrey;
  border-radius: 150px;
}

.phide {
  height: 0;
  opacity: 0;
}

.pappear {
  height: 200px;
  opacity: 1;
}

@keyframes borderchange {
  0% {
    border: 5px solid lightgrey;
  }
  100% {
    border: 5px solid grey;
  }
}

.dropdown {
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}

.name {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  animation: .5s detailfadein 1s forwards;
  opacity: 0;
  white-space:nowrap;
}

.dropdown:hover .dropdown-content {
    /* display: flex; */
    opacity: 1;
    /* margin-bottom: -40px; */
    padding-top: 8px;
    visibility: visible;
    /* animation: .5s fadein forwards; */
}

.left {
  /* margin-left: -450px; */
  /* transform: translate(-200px); */
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.center {
}

.info {
  /* margin: 100px; */
  height: 100vh;
  opacity: 1;
  /* transition: all .5s; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid lightgrey;
}

.show{
  animation: .7s detailfadein forwards;
  /* margin-right: -70vw; */
  visibility: visible;
  opacity: 1;
  /* transform: scale(1); */
  width: 400px;
}

.hide{
  animation: .5s detailfadeout forwards;
  /* transform: translate(400px); */
  visibility: hidden;
  /* transform: scale(0); */
  width: 0px;
  opacity: 0px;
}


.btn {
  font-size: 15px;
  padding: 5px 20px;
  color: white;
  border-radius: 13px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	background-color: #e74c3c;
  /* transition: all .5s; */
}

.redbtn:hover {
  background-color: #e86353;
}

.btn:active {
	transform: scale(1.05);
}

.blkbtn {
  background-color: #303030;
}

.blkbtn:hover {
  background-color: #444444;
}

@keyframes detailfadein {
  0% {
    opacity: 0;
    width: 0px;
  }
  50% {
    opacity: 0;
    width: 400px;
  }
  100% {
    width: 400px;
    opacity: 1;
  }
}
@keyframes detailfadeout {
  0% {
    opacity: 1;
    width: 400px;
  }
  60% {
    opacity: 0;
    width: 400px;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}

@keyframes mdetailfadein {
  0% {
    opacity: 0;
    width: 0px;
  }
  50% {
    opacity: 0;
    width: 350px;
  }
  100% {
    width: 350px;
    opacity: 1;
  }
}
@keyframes mdetailfadeout {
  0% {
    opacity: 1;
    width: 350px;
  }
  60% {
    opacity: 0;
    width: 350px;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    overflow-y: scroll;
  }

  .main {
    flex-direction: column;
    justify-content: flex-start;
  }

  .info {
    border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    height: 400px;
  }

  .name {
    height: 300px;
    border: none;
  }

}

@media screen and (max-width: 500px) {
  .show {
    width: 350px;
    animation: .7s mdetailfadein forwards;
  }

  .hide {
    animation: .5s detailfadeout forwards;
  }
}
