.nBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(209, 209, 209, .5);
  /* padding: 10px; */
  /* border-radius: 20px 20px 0px 0px; */
}
