.tab{
  font-weight:300;
  font-size: 16px;
  line-height: 2;
}

.title {
  font-size: 25px;
  color: darkgrey;
  line-height: 1;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* transition: all .2s; */
}

.gifs {
  opacity: .5;
  border-radius: 5px;
}

.gifs:hover {
  opacity: 1;
}

.title:hover {
  text-decoration: none;
}

.detail {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  background: linear-gradient(rgba(255, 255, 255, 0.3), transparent);
}
