.about {
  height: inherit;
  overflow-y: scroll;
  text-decoration: none;

}

.tab{
  /* margin: 20px; */
  font-weight:300;
  font-size: 16px;
  line-height: 2;
}

.title {
  font-size: 25px;
  color: darkgreen;
  line-height: 1;
}

.detail {
  padding: 15px;
  height: inherit;
  overflow-y: scroll;
}

a {
  transition: all .3s ease-in-out;
}

a:hover {
  color: black;
  text-decoration: none;
}

/* @media screen and (max-height: 600px) {
  .detail {
    height: 87%;
  }
} */
